<ion-view title="Actualiza tus datos" id="page8">
    <ion-content padding="true" class="has-header">
        <form id="actualizaTusDatos-form4" class="list ">
            <label class="item item-input " id="actualizaTusDatos-input9">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="actualizaTusDatos-input10">
                <span class="input-label">Apellido</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="actualizaTusDatos-input11">
                <span class="input-label">Teléfono</span>
                <input type="tel" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <a ui-sref="menu.perfil" id="actualizaTusDatos-button14" class=" button button-positive  button-block ">Actualizar</a>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <a ui-sref="menu.cambiarContraseA" id="actualizaTusDatos-button17" style="color:#0028FA;" class=" button button-stable  button-block ">Cambiar contraseña</a>
        <button id="actualizaTusDatos-button15" style="font-weight:300;font-style:italic;" class=" button button-stable  button-block ">Elimina tu Perfil</button>
    </ion-content>
</ion-view>