<ion-view title="Cambiar contraseña" id="page12">
    <ion-content padding="true" class="has-header">
        <form id="cambiarContraseA-form10" class="list ">
            <label class="item item-input " id="cambiarContraseA-input21">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 35px;"></div>
            <label class="item item-input " id="cambiarContraseA-input29">
                <span class="input-label">New Password</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input " id="cambiarContraseA-input22">
                <span class="input-label">Confirm Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a ui-sref="menu.login" id="cambiarContraseA-button28" class=" button button-positive  button-block ">Cambiar Contraseña</a>
    </ion-content>
</ion-view>