<ion-view title="Crear producto" id="page13">
    <ion-content padding="true" class="has-header">
        <form id="crearProducto-form7" class="list ">
            <label class="item item-input " id="crearProducto-input25">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="crearProducto-input26">
                <span class="input-label">Tipo</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="crearProducto-input27">
                <span class="input-label">Cantidad</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input " id="crearProducto-input28">
                <span class="input-label">Precio</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <a ui-sref="menu.detalleDeProducto" id="crearProducto-button5" class=" button button-positive  button-block ">Crear</a>
    </ion-content>
</ion-view>