<ion-view title="Detalle de producto" id="page14">
    <ion-content padding="true" class="has-header">
        <ion-list id="detalleDeProducto-list7">
            <ion-item id="detalleDeProducto-list-item14">Item 1</ion-item>
            <ion-item id="detalleDeProducto-list-item15">Item 2</ion-item>
            <ion-item id="detalleDeProducto-list-item16">Item 3</ion-item>
            <ion-item id="detalleDeProducto-list-item18">Item</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 58px;"></div>
        <a ui-sref="menu.ediciNDeProducto" id="detalleDeProducto-button6" class=" button button-positive  button-block ">Modificar producto</a>
        <button id="detalleDeProducto-button7" class=" button button-stable  button-block ">Eliminar producto</button>
    </ion-content>
</ion-view>