<ion-view title="Edición de producto" id="page9">
    <ion-content padding="true" class="has-header">
        <form id="ediciNDeProducto-form6" class="list ">
            <label class="item item-input " id="ediciNDeProducto-input12">
                <span class="input-label">Nombre: </span>
                <input type="text" placeholder="" ng-model="name">
            </label>
            <label class="item item-input " id="ediciNDeProducto-input17">
                <span class="input-label">Tipo: </span>
                <input type="text" placeholder=""  ng-model="type">
            </label>
            <label class="item item-input " id="ediciNDeProducto-input23">
                <span class="input-label">Cantidad: </span>
                <input type="number" placeholder=""  ng-model="quantity">
            </label>
            <label class="item item-input " id="ediciNDeProducto-input24">
                <span class="input-label">Precio: </span>
                <input type="number" placeholder=""  ng-model="price">
            </label>


             <button id="page-button2" class=" button button-positive  button-block " ng-click="productUpdate(name, type, quantity, price)">Actualizar producto</button>
        </form>        
    </ion-content>
</ion-view>