<ion-view title="Edición de producto" id="page9">
    <ion-content padding="true" class="has-header">
        <form id="ediciNDeProducto-form6" class="list ">
            <label class="item item-input " id="ediciNDeProducto-input12">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="ediciNDeProducto-input17">
                <span class="input-label">Tipo</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="ediciNDeProducto-input23">
                <span class="input-label">Cantidad</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input " id="ediciNDeProducto-input24">
                <span class="input-label">Precio</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <a ui-sref="menu.detalleDeProducto" id="ediciNDeProducto-button4" class=" button button-positive  button-block ">Cambiar</a>
        <button id="ediciNDeProducto-button8" class=" button button-stable  button-block ">Eliminar producto</button>
    </ion-content>
</ion-view>