<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <div class="spacer" style="width: 300px; height: 24px;"></div>
    </ion-content>
</ion-view>