<ion-view title="Login" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <form id="login-form1" class="list ">
            <ion-list id="login-list1">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.productos" id="login-button1" style="color:#F2F3F8;" class=" button button-positive  button-block ">Log in</a>
            <a ui-sref="menu.cambiarContraseA" id="login-button10" style="color:#0028FA;" class=" button button-stable  button-block ">Cambiar contraseña</a>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <a ui-sref="menu.registrarse" id="login-button2" class=" button button-positive  button-block button-clear ">Crear Cuenta</a>
        </form>
    </ion-content>
</ion-view>