<ion-view title="Perfil" id="page6">
    <ion-content padding="true" class="has-header">
        <ion-list id="perfil-list3">
            <ion-item id="perfil-list-item5">Usuario</ion-item>
            <ion-item id="perfil-list-item6">Email</ion-item>
            <ion-list id="perfil-list4">
                <ion-item id="perfil-list-item8">Nombre</ion-item>
                <ion-item id="perfil-list-item9">Apellido</ion-item>
                <ion-item id="perfil-list-item10">Telefono</ion-item>
            </ion-list>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <a ui-sref="menu.actualizaTusDatos" id="perfil-button12" class=" button button-positive  button-block ">Actualizar Información</a>
        <a ui-sref="menu.cambiarContraseA" id="perfil-button3" style="color:#0028FA;" class=" button button-stable  button-block ">Cambiar contraseña</a>
        <a ui-sref="menu.registrarse" id="perfil-button9" style="color:#0028FA;" class=" button button-stable  button-block ">Crear cuenta</a>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
    </ion-content>
</ion-view>