<ion-view title="Registrarse" id="page11">
    <ion-content padding="true" class="has-header">
        <form id="registrarse-form5" class="list ">
            <label class="item item-input " id="registrarse-input16">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input " id="registrarse-input13">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="registrarse-input14">
                <span class="input-label">Apellido</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="registrarse-input15">
                <span class="input-label">Teléfono</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input " id="registrarse-input19">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a ui-sref="menu.perfil" id="registrarse-button23" class=" button button-positive  button-block ">Registrarse</a>
        <a ui-sref="menu.login" id="registrarse-button27" class=" button button-positive  button-block ">Ingresar</a>
    </ion-content>
</ion-view>